* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: Arial, sans-serif;
}


.encabezado {
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    background-color: white;


    border-bottom: 3px solid;
    border-image: linear-gradient(
        to right,
        #1671ad,
        #167ed2,
        #53a2d8
    ) 1;
}


.logo img {
    width: 255px;
    height: auto;
    object-fit: contain;
}


.menu {
    display: flex;
    align-items: center;
    gap: 35px;
}


.menu a {
    text-decoration: none;
    color: #292929;
    font-weight: bold;
}


.boton-cita {
    background-color: #2db58f;
    color: white !important;
    padding: 13px 25px;
    border-radius: 30px;
}